/*
Primary Color:
7FA917	68812C	527008	B1D850	BCD878

Complementary Color:
8B1361	692451	5C073E	CA4B9D	CA71AB
*/

body {
    background: #444;
    font: 300%/60px 'Simonetta', Arial, Serif;
    font-weight: 900;
    color: #000;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header {
    background: #222;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    font: 18px/30px 'Special Elite', Arial, Serif;
    color: #FFFF00;
    text-align: center;
}

#header p {
    padding: 5px 10px;
    margin: 0;
}

#header a {
    text-decoration: none;
    color: #7FA917;
    font-weight: 400;
}
